body {
    height: 100vh;
    margin: 0;
    /*position: relative;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    /*background-image: url(bg3.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;*/
    
}

footer{
    margin-top: auto;
    width: 100%;
    background-color: white;
    color:gray;
    text-align: center;
}

header.hdr {
    padding: 15px;
    background-color: #003865 !important;
    width: 100%;
    text-align: center;
    font-size: 20px;
    color: white;
}

#dataForm{
    font-size: 15px;
    padding: 37px;
    border-radius: 10px;
    background-color: white;
}

#Pno, #Dno , #imageUpload{
    font-size: 15px;
    padding:10px;
    border-radius: 5px;
}

#Pno, #Dno{
    box-shadow: 5px 5px;
}

.btn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 15px;
    border-radius:10px;
  }
  
  /* Darker background on mouse-over */
  .btn:hover {
    background-color: RoyalBlue;
  }

  button#deleteSelected {
    font-size: 15px;
    padding: 12px 20px;
    color: white;
    background: red;
    border: none;
    border-radius: 10px;
    margin-left:10px;
    cursor: pointer;
    transition: background 0.3s;
}

button#deleteSelected:hover {
    background: darkred;
}

.image-container {
    cursor: move;
    background: #f9f9f9;
    transition: border 0.2s;
  }
  .image-container.dragging {
    opacity: 0.5;
  }
  
  .navbar{
    background-color: lightgray;
    padding:15px;
    display: flex;
    width:100%;
  }

  .navbar a {
    color:black;
    font-size:20px;
    text-decoration: none;
  }

  .navbar a:hover{
    color:orange;
  }
